<nav class="container navbar">
    <a href="/" class="logo"><img src="/src/assets/ksuritlogo.png" alt="KSU RIT Unit"></a>
    <ul class="nav-links">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/about.html" class="nav-link">About</a></li>
        <li><a href="/initiatives.html" class="nav-link">Initiatives</a></li>
        <li><a href="/events.html" class="nav-link">Events</a></li>
        <li><a href="/gallery.html" class="nav-link">Gallery</a></li>
        <li><a href="/contact.html" class="nav-link">Contact</a></li>
    </ul>
    <button class="menu-btn" aria-label="Toggle Menu">☰</button>
</nav>